@font-face {
    src: url("fonts/RoslindaleVariable[opsz\,slnt\,wdth\,wght]-Edu.woff2") format("woff2"),
         url('fonts/RoslindaleVariable[opsz\,slnt\,wdth\,wght]-Edu.woff') format("woff");
        font-family: 'Roslindale';
        font-style: normal;
        font-weight: normal;
        }
    
    body{
    background-color: #FEE9E9;
    font-family: 'Roslindale';
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    /* where to change width of columns on desktop view below */
    width: min(100% - 3rem, 100ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h f";
padding-top: 20px;
padding-bottom: 120px;
}
}


.hero {
  background-image: url('images/morin_2025_velvet-flowers2.png');
  background-size: cover;
  height: 700px;
  margin-top: -50px;
  color: #FEE9E9;
  padding: 70px;
}

#history {
grid-area: h;
padding-left: 50px;
padding-top: 50px;
}

#flowers {
    grid-area: f;
    align-content: right;
    align-content: center;
}

#variations {
    background-color: #962176;
    align-content: center;
    color: #FEE9E9;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
}

#alphabet {
    align-content: center;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 30px;

    .extralt {
        font-weight:200 !important;
    }
    
    .extraltit {
        font-weight:200 !important;
    }
    
    .lt {
        font-weight:200 !important;
    }
    
    .ltit {
        font-weight: ;
    }
    
    .reg {
        font-weight: ;
    }
}

#download {
    background-color: #53003C;
    align-content: center;
    text-align: center;
    color: #FEE9E9;
    padding-bottom: 80px;
    padding-top: 30px;
}


/* CSS for the footer */
footer{
    background-color: #1E0C0C;
    height:300px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "h v"
        "a a";
    padding-top: 25px;
}

.DJR {
    grid-area: h;
}

.Smorin {
    grid-area: v;
}

.Umass {
    grid-area: a;
}

/* font styling area */
h2{
    font-variation-settings: "opsz" 10, "wdth" 200, "wght" 500, "slnt" -8;
    font-size: 40pt;
}

h3{
    font-weight:20; 
    text-align: center;
    font-size: 6em;
    animation: weightChange 7s infinite;
}

h4{
    font-size: 25pt;
    text-align:center;
    margin: 10px;
}

h5{
    font-size: 12pt;
    color:#FEE9E9;
    text-align:center;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 10, "wdth" 75, "wght" 200, "slnt" -8;
    }
    50%{font-variation-settings: "opsz" 48, "wdth" 200, "wght" 900, "slnt" 0;
    } 
}

/* animations for variations section */
.weight{
    animation: weightvariation 7s infinite;
}
@keyframes weightvariation {
    0%, 100%{
        font-variation-settings: "opsz" 20, "wdth" 75, "wght" 200, "slnt" 0;
    }
    50%{font-variation-settings: "opsz" 20, "wdth" 75, "wght" 900, "slnt" 0;
    } 
}

.slant{
    animation: slantvariation 7s infinite;
}
@keyframes slantvariation {
    0%, 100%{
        font-variation-settings: "opsz" 40, "wdth" 180, "wght" 200, "slnt" -8;
    }
    50%{font-variation-settings: "opsz" 40, "wdth" 180, "wght" 200, "slnt" 0;
    } 
}

.optical-size{
    animation: optsizevariation 7s infinite;
}
@keyframes optsizevariation {
    0%, 100%{
        font-variation-settings: "opsz" 10, "wdth" 100, "wght" 500, "slnt" 0;
    }
    50%{font-variation-settings: "opsz" 48, "wdth" 100, "wght" 500, "slnt" 0;
    } 
}

.width{
    animation: widthvariation 5s infinite;
}
@keyframes widthvariation {
    0%, 100%{
        font-variation-settings: "opsz" 25, "wdth" 75, "wght" 300, "slnt" 0;
    }
    50%{font-variation-settings: "opsz" 25, "wdth" 200, "wght" 300, "slnt" 0;
    } 
}


/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

a:link {
    color: #FFC0C1;
  }

  a:visited {
    color: #962176;
  }
  
  a:hover {
    color: #962176;
  }
  
  a:active {
    color: #FEE9E9;
  }